/* @media(max-width)
@media(mas-waidth:768px){
    p{ font size:6px;}
    body{ background-color: blue;}
    p{font-size: 346px;}
}
 @media(min-width:768px; and max width 1024px;)
  */
  @media(max-width:)
  @media(max-width:768px){
    .box{
        width:100%;
        height:100%;
        background-color:pink;
    }
  }
  li{
    list-style-type: none;
    text-decoration: none;
  nav ol{
    display: flex;
    justify-content: space-around;
    display: none;
  }
  li{

  }