body{
    margin:0;
    font-family:Arial, sans-sarif;
}
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:black;
    padding:1rem;
}
.logo{ color:aliceblue
}
.menu{
    display: none;
    flex-direction: column;
    background: blueviolet;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 20px;
}
.menu a{
    color: aliceblue;
    padding:1rem;
    text-decoration: none;
    display:black;
}
.hamburger{
    font-size: 2rem;
    color:aliceblue;
    font:2rem;
}
@media(min-width:768px)
{.menu{
    display:flex;
    flex-direction: row;
    position: static;
    width:auto;
    background-color: none;

}  
.hamburger{
    display: none;
}
    
}