/* div{
    background-color: aquamarine;
    font-size: 25px;
    } */
 /* div{
   height:200px;
   width: 200px;
   color:greenyellow;
   background-color:black
   text align: center 
   align-content :center;
   padding: 20px ;
   margin: 30px 100px;
   border

} */
 /* div{
    color:bisque;
     background-color:white;
     border: 40px color (srg )
     
 }
 .container{
   height:2px
   width: 2px;
   border:2px;

 }
 .box {
   background-color:
 } */

 .container{
  display:flex;
  height:600px;
  width:1000px;
  background:yellow;
  border:7px solid blue;
  flex-direction: row-reverse;
  flex-wrap:wrap;
  justify-content:center ;
  align-items:center;
  align-content:center;
  gap:10px;
 }
 .item{
  height : 150px;
  width: 150px;
  border:2px solid blue;
  text-align: center;
  background-color: red;
 }
 .item2{
  height: 100px;
  width: 250px;
  border: 2px solid black;
  text-align: center;
  background-color: antiquewhite;
  flex-grow:1;
  flex-shrink:1;
 }
 .item10{
  order: : -1;
  align-self: baseline;
 }